In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [4]:
#Getting the links to the pages with the appropriate data from FBRef.com

shootingurl = "https://fbref.com/en/comps/9/shooting/Premier-League-Stats"
possurl = "https://fbref.com/en/comps/9/possession/Premier-League-Stats"
passingurl = "https://fbref.com/en/comps/9/passing/Premier-League-Stats"
defurl = "https://fbref.com/en/comps/9/defense/Premier-League-Stats"

In [5]:
#The html containing the player-specific data had elements that hid this table from pandas
#We edit the html code to remove this so pandas can retreive the table

shootingdata = requests.get(shootingurl)
possdata = requests.get(possurl)
passingdata = requests.get(passingurl)
defdata = requests.get(defurl)
defdata = defdata.text.replace("<!--", " ")
shootingdata = shootingdata.text.replace("<!--", " ")
possdata = possdata.text.replace("<!--", " ")
passingdata = passingdata.text.replace("<!--", " ")

In [6]:
#Creating the dataframes from the html code

shooting = pd.read_html(shootingdata, match="Player Shooting")[0]
poss = pd.read_html(possdata, match="Player Possession")[0]
passing = pd.read_html(passingdata, match="Player Passing")[0]
defense = pd.read_html(defdata, match="Player Defensive Actions")[0]

oppshooting = pd.read_html(shootingdata, match="Squad Shooting")[1]
teamdef = pd.read_html(defdata, match="Squad Defensive Actions")[0]
oppposs = pd.read_html(possdata, "Squad Possession")[1]

<ipython-input-6-bbe30ef9be0f>:10: FutureWarning: Starting with Pandas version 2.0 all arguments of read_html except for the argument 'io' will be keyword-only
  oppposs = pd.read_html(possdata, "Squad Possession")[1]

In [7]:
shooting.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player             Nation                Pos
0                  1   Brenden Aaronson             us USA              MF,FW
1                  2          Che Adams            sct SCO                 FW
2                  3        Tyler Adams             us USA                 MF
3                  4   Tosin Adarabioyo            eng ENG                 DF
4                  5       Nayef Aguerd             ma MAR                 DF

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
               Squad                Age               Born                90s
0       Leeds United             22-078               2000               15.8
1        Southampton             26-179               1996               14.8
2       Leeds United             23-328               1999               15.0
3             Fulham             25-106               1997               11.0
4           West Ham             26-284               1996                1.8

  Unnamed: 8_level_0 Standard                                              \
                 Gls       Sh SoT  SoT% Sh/90 SoT/90  G/Sh G/SoT  Dist FK
0                  1       22   4  18.2  1.39   0.25  0.05  0.25  18.8  1
1                  4       34  13  38.2  2.29   0.88  0.12  0.31  14.4  0
2                  0        2   0   0.0  0.13   0.00  0.00   NaN  29.4  0
3                  1        4   2  50.0  0.36   0.18  0.25  0.50  16.4  0
4                  0        1   0   0.0  0.54   0.00  0.00   NaN  12.4  0

  Performance       Expected                            Unnamed: 25_level_0
           PK PKatt       xG npxG npxG/Sh  G-xG np:G-xG             Matches
0           0     0      2.1  2.1    0.10  -1.1    -1.1             Matches
1           0     0      4.6  4.6    0.13  -0.6    -0.6             Matches
2           0     0      0.0  0.0    0.02   0.0     0.0             Matches
3           0     0      0.2  0.2    0.04  +0.8    +0.8             Matches
4           0     0      0.1  0.1    0.05  -0.1    -0.1             Matches

In [8]:
#removing the above columns that are unnamed

oppshooting.columns = oppshooting.columns.droplevel()
defense.columns = defense.columns.droplevel()
oppposs.columns = oppposs.columns.droplevel()
teamdef.columns = teamdef.columns.droplevel()
shooting.columns = shooting.columns.droplevel()
poss.columns = poss.columns.droplevel()
passing.columns = passing.columns.droplevel()

In [10]:
oppposs.head()

,Squad,# Pl,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Live,Succ,Att,Succ%,Mis,Dis,Rec,Prog
0,vs Arsenal,23,42.8,17.0,8796,1248,3509,3617,1760,264,8792,80,218,36.7,213,149,5356,272
1,vs Aston Villa,23,52.3,18.0,11023,1081,3707,4942,2465,387,11020,108,288,37.5,250,183,7228,455
2,vs Bournemouth,25,60.1,18.0,12691,911,3334,5750,3715,475,12686,114,270,42.2,277,177,8940,612
3,vs Brentford,24,57.0,18.0,11611,1048,3187,5123,3403,467,11610,129,281,45.9,298,156,7622,527
4,vs Brighton,23,43.5,17.0,9168,1197,3488,3691,2069,329,9162,100,259,38.6,246,166,5602,357

In [11]:
#removing the 'vs' at the start of opposing stats

for i in range(len(oppshooting["Squad"])):
    oppshooting["Squad"][i] = oppshooting["Squad"][i][3:]
    oppposs["Squad"][i] = oppposs["Squad"][i][3:]

<ipython-input-11-eb52df03925d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oppshooting["Squad"][i] = oppshooting["Squad"][i][3:]
<ipython-input-11-eb52df03925d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oppposs["Squad"][i] = oppposs["Squad"][i][3:]

In [12]:
oppposs.head()

,Squad,# Pl,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Live,Succ,Att,Succ%,Mis,Dis,Rec,Prog
0,Arsenal,23,42.8,17.0,8796,1248,3509,3617,1760,264,8792,80,218,36.7,213,149,5356,272
1,Aston Villa,23,52.3,18.0,11023,1081,3707,4942,2465,387,11020,108,288,37.5,250,183,7228,455
2,Bournemouth,25,60.1,18.0,12691,911,3334,5750,3715,475,12686,114,270,42.2,277,177,8940,612
3,Brentford,24,57.0,18.0,11611,1048,3187,5123,3403,467,11610,129,281,45.9,298,156,7622,527
4,Brighton,23,43.5,17.0,9168,1197,3488,3691,2069,329,9162,100,259,38.6,246,166,5602,357

In [13]:
#selecting relevant data

oppshooting = oppshooting[["Squad", "Gls", "Sh", "SoT", "Sh/90", "SoT/90", "G/Sh", "G/SoT", "Dist", "xG"]]
oppposs = oppposs[["Squad", "Poss", "Touches", "Att 3rd", "Att Pen", "Succ%"]]

In [20]:
#column names repeat themselves every 25 rows, need to remove this
defense["Player"][25]

'Player'

In [21]:
#this removes repeated column names

for i in range(len(defense["Born"])):
    if defense["Born"][i] == "Born":
        defense = defense.drop(index={i})
        
    else: continue
        
defense = defense.reset_index()

In [22]:
#some columns have the same name but mean different things, see 'Tkl'

defense.head()

,index,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Tkl,Att,Tkl%,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches
0,0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,22-078,2000,15.8,26,6,8,15,3,9,25,36.0,16,25,2,23,1,27,5,1,Matches
1,1,2,Che Adams,sct SCO,FW,Southampton,26-179,1996,14.8,12,10,4,7,1,5,6,83.3,1,8,2,6,4,16,16,0,Matches
2,2,3,Tyler Adams,us USA,MF,Leeds United,23-328,1999,15.0,60,31,34,22,4,37,52,71.2,15,23,5,18,21,81,19,0,Matches
3,3,4,Tosin Adarabioyo,eng ENG,DF,Fulham,25-106,1997,11.0,12,5,10,2,0,5,7,71.4,2,7,6,1,13,25,58,0,Matches
4,4,5,Nayef Aguerd,ma MAR,DF,West Ham,26-284,1996,1.8,3,2,2,1,0,2,3,66.7,1,1,1,0,1,4,3,0,Matches

In [23]:
#removing irrelevant data concerning tackles against dribblers, which are included in total tackles
defense = defense.drop(axis = "columns", labels = defense.columns[9:12])
#removing other irrelevant data
defense = defense.drop(axis="columns", labels=["Rk", "index", "Age", "Born", "90s", "Matches"])
#renaming ambiguous column name
defense = defense.rename(columns={"Past": "DribPast"})


#same process for team-defending stats
teamdef = teamdef.drop(columns = teamdef.columns[8:11])
teamdef = teamdef.rename(columns={"Past":"DribPast"})

In [24]:
#Cleaning again, same as above but for shooting table
#dataframe repeated the column names as data values, this line removes those

for i in range(0, len(shooting.index)):
    if shooting["Player"][i] == "Player":
        shooting = shooting.drop([i])
        poss = poss.drop([i])

In [25]:
#reformatting the index values so they're continuous

for i in range(0, len(shooting.index)):
    shooting = shooting.rename(index={shooting.index[i]:i})
    poss = poss.rename(index={poss.index[i]:i})

In [26]:
#ensuring the numbers are recognised as such

poss["Touches"] = poss["Touches"].astype("int")
shooting["Gls"] = shooting["Gls"].astype("int")

In [27]:
#merging data to include all stats for players

playerdata = shooting.merge(poss, on="Player")

In [28]:
#making sure the player age reads correctly
for i in range(len(playerdata)):
    playerdata["Age_x"][i] = int(str(playerdata["Age_x"][i])[:2])

<ipython-input-28-fc1701051bdd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playerdata["Age_x"][i] = int(str(playerdata["Age_x"][i])[:2])

In [ ]:
#exporting the tables in csv format to be used in SQL for further analysis
playerdata.to_csv("playerdata.csv")
oppposs.to_csv("OpposingPossession.csv")
teamdef.to_csv("teamdefending.csv")
defense.to_csv("playerdefending.csv")
oppshooting.to_csv("opposingshooting.csv")